* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
    position: relative;
}

nav {
    background-color: #50C878;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    padding: 15px;

}

.container {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.cards {
    border: 6px solid #50C878;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    border-radius: 18px;
}

.cards img {
    height: 200px;
}

.addImage {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 25px;
}

.addImage .btn{
    background-color: #50C878;
    height: 65px;
    width:65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3.5rem;
    color: white;
    border: 2px solid black;
    cursor: pointer;



}

.addImage .form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid black;
    background-color: #50C878;
    border-radius: 10px;
    
}

.addImage form input {
    height: 30px;
    padding: 5px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: none;
    


}

.addImage form button {
    height: 28px;
    width: 60%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

}

.hide{
    display: none;
};